html { 
  background: url('./background.jpg') no-repeat center center fixed; 
  background-size: cover;
}

body {
    height: 90vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;

}

header {
    background-color: rgba(51, 134, 93, 0.527);
    color: white;
    padding: 5px;
}